{% extends 'base.html' %}
{% block content %}
    
    <h1 class="center">Item Details</h1>
        <div class="card item-detail-card center">
          <div class="card-content item-detail-content">
            <span class="card-title">{{ item.name }}</span>
            {% for photo in item.photo_set.all %}
            <img width="500px" class="responsive-img card-panel" src="{{photo.url}}">
            {% empty %}
            <div class="card-panel teal-text center-align">No Photo Uploaded
            <form action="{% url 'add_photo' item.id %}" enctype="multipart/form-data" method="POST" alt="Item Photo" class="card-panel">
              {% csrf_token %}
              <input type="file" name="photo-file">
              <input type="submit" class="btn" value="Upload Photo">
            </form>
          </div>
            {% endfor %}
            {% if item.posted == True %}

            <p>Seller: {{ item.user | capfirst }}</p>
            <p>Posted on {{ item.date }}</p>
            {% if item.expired == True %}
            <p>Expired on {{ expiration }} </p>
            {% else %}
            <p>Expires on {{ expiration }} </p>
            {% endif %}
            {% endif %}
            <p>Starting Bid: ${{ item.min_bid }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Description: {{ item.description }}</p>
            {% if current_bid %}
            <p>Highest Bid: {{ current_bid }}</p>
            {% else %}
            <p>No Bids Yet</p>
            {% endif %}
          </div>
          {% if item.user == user %}
          {% else %}
          <div class="col s6 bid-section">
            <form action="{% url 'add_bid' item.id %}" method="POST">
              {% csrf_token %}
              {{ bid_form.as_p }}
              <div class="center move-up-btn">
                {% if current_bid %}
                <input type="submit" class="btn" value="Add Bid Higher than ${{ current_bid }}">
                {% else %}
                <input type="submit" class="btn" value="Add Bid Higher than ${{ item.min_bid }}">
                {% endif %}

              </div>
            </form>
            {% endif %}
            <table class="striped blue-grey lighten-3 bid-table">
              <thead>
                <tr><th>Date:</th><th>Current Bid:</th><th>User:</th></tr>
              </thead>
              <tbody>
                {% for bid in item.bid_set.all %}
                <tr>
                  <td>{{bid.date}}</td>
                  <td>{{bid.current_bid}}</td>
                  <td>{{ bid.user | capfirst }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
      {% endblock %}