{% extends 'base.html' %}
{% block content %}
    
    <h1 class="center">Item Details</h1>
        <div class="card item-detail-card center">
          <div class="card-content item-detail-content">
            <span class="card-title">{{ item.name }}</span>
            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-12-family-select-2021?wid=940&hei=1112&fmt=jpeg&qlt=90&.v=1617135051000" width="500px"alt="">
            <p>Starting Bid: ${{ item.min_bid }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Description: {{ item.description|linebreaks }}</p>
            <p>Posted on: {{ item.date }}</p>
            <p>Highest Bid: {{ current_bid }}</p>
          </div>
          <div class="col s6">
            <form action="{% url 'add_bid' item.id %}" method="POST">
              {% csrf_token %}
              {{ bid_form.as_p }}
              <div class="center move-up-btn">
                {% if current_bid %}
                <input type="submit" class="btn" value="Add Bid Higher than ${{ current_bid }}">
                {% else %}
                <input type="submit" class="btn" value="Add Bid Higher than ${{ item.min_bid }}">
                {% endif %}
              </div>
            </form>
            <table class="striped blue-grey lighten-3">
              <thead>
                <tr><th>Date:</th><th>Current Bid:</th><th>User:</th></tr>
              </thead>
              <tbody>
                {% for bid in item.bid_set.all %}
                <tr>
                  <td>{{bid.date}}</td>
                  <td>{{bid.current_bid}}</td>
                  <td>{{ bid.user }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
      {% endblock %}