{% extends 'base.html' %}
{% block content %}
    
    <h1 class="center">Item Details</h1>
        <div class="card item-detail-card center">
          <div class="card-content item-detail-content">
            <span class="card-title">{{ item.name }}</span>
            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-12-family-select-2021?wid=940&hei=1112&fmt=jpeg&qlt=90&.v=1617135051000" width="500px"alt="">
            <p>Starting Bid: ${{ item.min_bid }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Description: {{ item.description|linebreaks }}</p>
            <p>Posted on: {{ item.date }}</p>
          </div>
        </div>
   </h1>
   <h2 class="center">Start Bidding</h2>
   <div class="card bidding-card center">
     <div class="card-content bidding-content">
       <span class="card-title">{{ item.name }}</span>
       <input value="${{ item.min_bid }}"" type="text" name="Bid" required>
       <button type="submit" class="btn">Bid</button>
     </div>
   </div>
</h2>
   {% endblock %}