{% extends 'base.html' %}
{% block content %}

<h1 class="center">All Items For Sale</h1>
<div class="items-container">
{% for item in items %}
{% if item.posted == True %}
  <div class="card item-card">
   <a href="{% url 'detail' item.id %}">
    <div class="card-content center card-content-hover purple-border">
      <span class="card-title">{{ item.name }}</span>
      {% for photo in item.photo_set.all %}
      <img width="200px" height="400px" class="responsive-img card-panel" src="{{photo.url}}">
      {% endfor %}
      <p>Posted By: {{ item.user }}</p>
      <p>Quantity: {{ item.quantity }}</p>
      <p>Posted: {{ item.date }}</p>
      <p>Expires on: {{ expiration }}</p>
      <p>Starting Bid: {{ item.min_bid }}</p>
      <p>Current Bid: {{ current_bid }}</p>
     </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}