{% extends 'base.html' %}
{% block content %}

<h1 class="center">All Items For Sale</h1>
<div class="items-container">
{% for item in items %}
{% if item.posted == True %}
  <div class="card item-card">
   <a href="{% url 'detail' item.id %}">
    <div class="card-content center card-content-hover purple-border">
      <span class="card-title">{{ item.name }}</span>
      {% for photo in item.photo_set.all %}
      <img width="200px" height="400px" class="responsive-img card-panel all-items" src="{{photo.url}}">
      {% endfor %}
      <p>Seller: {{ item.user | capfirst }}</p>
      <p>Quantity: {{ item.quantity }}</p>
      <p>Posted on {{ item.date }}</p>
      {% if item.expired == False%}
      <p>Expires on {{ expiration }}</p>
      {% else %}
      <p>Expired on {{ expiration }}</p>
      {% endif %}
      <p>Starting Bid: ${{ item.min_bid }}</p>
      {% if current_bid %}
      <p>Current Bid: ${{ current_bid }}</p>
      {% endif %}
     </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}