{% extends 'base.html' %}
{% block content %}

<h1 class="center">All Items For Sale</h1>
<div class="items-container">
{% for item in items %}
  <div class="card item-card">
   <a href="{% url 'detail' item.id %}">
    <div class="card-content center card-content-hover">
      <span class="card-title">{{ item.name }}</span>
      <p>Quantity: {{ item.quantity }}</p>
      <p>Description: {{ item.description }}</p>
      <p>Posted: {{ item.date }}</p>
     </div>
    </a>
  </div>
  {% endfor %}
</div>

{% endblock %}