{% extends 'base.html' %}
{% block content %}

<h1 class="center">Popular Items</h1>
<div class="items-container">
{% for item in popular_items %}
{% if item.posted == True %}
  <div class="card item-card">
   <a href="{% url 'detail' item.id %}">
    <div class="card-content center card-content-hover purple-border">
      <span class="card-title">{{ item.name }}</span>
      <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-12-family-select-2021?wid=940&hei=1112&fmt=jpeg&qlt=90&.v=1617135051000" width="250px"alt="">
      <p>Quantity: {{ item.quantity }}</p>
      <p>Description: {{ item.description }}</p>
      <p>Posted: {{ item.date }}</p>
      <p> Minimum Bid: {{ item.min_bid }}</p>
     </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}