{% extends 'base.html' %}
{% block content %}

<h1 class="center">Profile</h1>
<div class="profile-container">
    <div class="userinfo-box">
        <div>User Info</div>
        <div>{{ user }}</div>
        {% comment %} <div>Member Since: {{ user.profile.signup_date|date:"M d, Y" }}</div> {% endcomment %}
        <div>Member Since: {{ user.date_joined|date:"M d, Y" }}</div>
    </div>

 <div class="listed-container">
         <div>Listed Items: {{ listed_count }}</div>
         {% for item in item_listed %}
         <div class="profile-listed-item-container">
         <div class="profile-listed-item">
         <p>{{ item.name }}</p>
        </div>
    </div>
         {% endfor %}
    </div>
    <div class="unlisted-container">
        <div>Unlisted Items:</div>
        {% for item in item_unlisted %}
        <div class="profile-unlisted-item-container">
        <div class="profile-unlisted-item">
         <p>{{ item.name }}</p>
         {% comment %} <button>Update</button>
         <button>Post</button> {% endcomment %}
         {% comment %} <button <a href="{% url 'unlisted_delete' item.id %}">Delete</button> {% endcomment %}
            <div class="card-action">
                <form action="{% url 'unlisted_delete' item.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn">Delete</button>
                </form>
              </div>
              <div class="card-action">
                <form action="{% url 'unlisted_update' item.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn">Update</button>
                </form>
              </div>
        </div>
    </div>
         {% endfor %}
    </div>  
</div>
{% endblock %}
