{% extends 'base.html' %}
{% block content %}

<h1 class="center">Profile</h1>
<div class="profile-container">
    <div class="userinfo-box">
        <div>User Info</div>
        <div>{{ user }}</div>
        <div>Listed Items:</div>
        <div>{{ item.posted }}:</div>
        {% comment %} <div>Member Since: {{ user.profile.signup_date|date:"M d, Y" }}</div> {% endcomment %}
        <div>Member Since: {{ user.date_joined|date:"M d, Y" }}</div>
    </div>
    <div class="listed-container">
         <div>Listed Items: {{ user.date_joined|date:"M d, Y" }} </div>
    </div>
    <div class="unlisted-container">
        <div>Unlisted Items: {{ user.date_joined|date:"M d, Y" }}</div>
    </div> 
    {% comment %} {% if listed_items %}
       <div class="listed-container">
        <div>Listed_items: {{ listed_items }} </div>
   </div>
   {% else %}
   <div class="unlisted-container">
       <div>Unlisted Items: None</div>
   </div>
   {% endif %} {% endcomment %}
</div>
{% endblock %}
