body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url('../images/background3.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.rocket-logo {
    transform: rotate(50deg) translate(0, -15%);
}

main {
    flex: 1 0 auto;
}

.container {
    width: 90%;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

.nav-wrapper, nav {
    background: linear-gradient(0deg, rgba(0, 83, 171, 0.3), rgba(0, 177, 186, 0.5));
}

.page-footer {
    background: linear-gradient(180deg, rgba(0, 242, 255, 0.5), rgba(0, 114, 235, 0.7));
}

.page-footer .footer-text {
    font-weight: bold;
}

.nav-wrapper2 {
    display: flex;
    justify-content: space-between;
}

.nav-wrapper2 li a{
    font-style: italic;
    font-weight: bold;
    font-size: large;
    width: 160px;
    text-align: center;
}

.userinfo-box {
    border-bottom: 2px solid rgb(220, 193, 19);
    text-align: center;
    color: white;
}

.userinfo {
    text-align: center;
}

.listed-container {
    margin-top: 1rem;
    border-bottom: 2px solid rgb(220, 193, 19);
    text-align: center;
    color: white;
    padding: 1rem;
}

.unlisted-container {
    margin-top: 1rem;
    border-bottom: 2px solid rgb(220, 193, 19);
    text-align: center;
    color: white;
    padding: 1rem;
}

h1 {
    color: white;
}

.profile-container {
    border: 1px solid rgb(220, 193, 19);
    padding: 5rem;
    background: linear-gradient(180deg, rgba(78, 78, 159, 0.7), rgba(144, 188, 203, 0.85));
}

.profile-listed-item {
    border: 1px solid rgb(220, 193, 19);
    border-radius: 50% 10%;
    margin-top: 1rem;
    background: linear-gradient(200deg, rgba(196, 0, 235, 0.3), rgba(0, 242, 255, 0.3));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.201);
}

.profile-listed-item:hover {
    color: yellow;
    background: linear-gradient(180deg, rgba(0, 242, 255, 0.7), rgba(0, 114, 235, 0.7));
}

.profile-listed-item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

.profile-unlisted-item {
    border: 1px dashed rgb(255, 242, 0);
    margin-top: 1rem;
    background: linear-gradient(180deg, rgba(110, 110, 110, 0.35), rgba(110, 110, 110, 0.35));
}

.profile-unlisted-item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.item-card {
    background: linear-gradient(180deg, rgba(78, 78, 159, 0.7), rgba(144, 188, 203, 0.85));
}

.item-card:hover {
    background: linear-gradient(180deg, rgba(100, 100, 163, 0.8), rgba(168, 197, 206, 0.9));
}

.card-content {
    color: white;
}

.card-content-hover:hover {
    color: rgb(255, 213, 0);
    border: 1px solid white;;
}

.item-detail-card {
    background: linear-gradient(180deg, rgba(78, 78, 159, 0.7), rgba(144, 188, 203, 0.85));
}

.home-container {
    background: linear-gradient(180deg, rgba(78, 78, 159, 0.7), rgba(144, 188, 203, 0.85));
    height: 86vh;
    margin: 5rem;
    padding: 0;
    margin: 0 auto;
    margin-top: 3rem;
    border-radius: 60% 10%;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.italic-text {
    font-style: italic;
    margin-top: -10px;
}

.home-link {
    color: rgb(166, 255, 245);
    animation: eyecatch 4s infinite;
    transition: 500ms ease-in-out;
}

.home-link:hover {
    animation: eyecatch-hover 4s infinite;
    transition: 500ms ease-in-out;
}

ul li, p span {
    color: black;
}

.purple-border {
    box-shadow: 5px 5px 10px rgba(115, 0, 255, 0.267);
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: .7rem 0 1rem 0;
}

@keyframes eyecatch {
    0% {
        color: rgb(166, 255, 245);
        font-size: 2rem;
    }
    50% {
        color: rgb(250, 166, 255);
        font-size: 2.5rem;
    }
    100% {
        color: rgb(166, 255, 245);
        font-size: 2rem;
    }
}
@keyframes eyecatch-hover {
    0% {
        color: rgb(166, 255, 245);
        font-size: 2.5rem;
    }
    50% {
        color: rgb(166, 255, 245);
        font-size: 2.5rem;
    }
    100% {
        color: rgb(166, 255, 245);
        font-size: 2.5rem;
    }
}