body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url('../images/background3.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.rocket-logo {
    animation: launch 12s infinite;
}

.unlisted-img, .listed-img {
    width: 200px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 10%;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
}

@keyframes launch {
    0% {
        opacity: 0%;
        transform: translate(0%, -155%);
    }
    15%{
        transform: translate(0%, -5%);
        opacity: 50%;
    }
    30% {
        transform: translate(0%, -5%);
        opacity: 100%;
    }
    45% {
        transform: rotate(60deg) translate(0, -15%);
    }
    55% {
        transform: rotate(40deg) translate(0, -15%);
    }
    65% {
        transform: rotate(60deg) translate(0, -15%);
    }
    75% {
        transform: rotate(50deg) translate(5%, 10%);
    }
    85% {
        transform: rotate(50deg) translate(-25%, -155%);
    }
    100% {
        transform: rotate(50deg) translate(-25%, -155%);
    }
}

main {
    flex: 1 0 auto;
}

.container {
    width: 90%;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

.nav-wrapper, nav {
    background: linear-gradient(0deg, rgba(0, 83, 171, 0.3), rgba(0, 177, 186, 0.5));
}

.page-footer {
    background: linear-gradient(180deg, rgba(0, 242, 255, 0.5), rgba(0, 114, 235, 0.7));
}

.page-footer .footer-text {
    font-weight: bold;
}

.nav-wrapper2 {
    display: flex;
    justify-content: space-between;
}

.nav-wrapper2 li a{
    font-style: italic;
    font-weight: bold;
    font-size: large;
    width: 160px;
    text-align: center;
}

.userinfo-box {
    border-bottom: 1px solid rgb(220, 193, 19);
    text-align: center;
    color: white;
}

.userinfo {
    text-align: center;
}

.listed-container {
    margin-top: 1rem;
    border-bottom: 1px solid rgb(220, 193, 19);
    text-align: center;
    color: white;
    padding: 1rem;
}

.unlisted-container {
    margin-top: 1rem;
    border-bottom: 1px solid rgb(220, 193, 19);
    text-align: center;
    color: white;
    padding: 1rem;
}

h1 {
    color: white;
}

.profile-container {
    border: 1px solid rgb(220, 193, 19);
    padding: 5rem;
    background: linear-gradient(180deg, rgba(78, 78, 159, 0.7), rgba(144, 188, 203, 0.85));
}

.profile-listed-item {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 40% 10%;
    margin-top: 1rem;
    line-height: .5rem;
    background: linear-gradient(200deg, rgba(196, 0, 235, 0.3), rgba(0, 242, 255, 0.3));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.201);
    transition: 500ms ease-out;
}

.profile-listed-item:hover {
    transform: scale(1.02);
    transition: 350ms ease-in;
    border: 1px solid rgb(253, 249, 0);
    border-radius: 40% 0%;
    color: yellow;
    background: linear-gradient(200deg, rgba(196, 0, 235, 0.5), rgba(0, 242, 255, 0.5));
}

.profile-listed-item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

.profile-unlisted-item {
    border: 1px dashed rgb(255, 255, 255);
    margin-top: 1rem;
    background: linear-gradient(180deg, rgba(110, 110, 110, 0.35), rgba(110, 110, 110, 0.35));
}

.profile-unlisted-item:hover {
    background: linear-gradient(180deg, rgba(176, 176, 176, 0.35), rgba(164, 164, 164, 0.35));
}

.profile-unlisted-item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.item-card {
    background: linear-gradient(180deg, rgba(78, 78, 159, 0.7), rgba(144, 188, 203, 0.85));
}

.item-card:hover {
    background: linear-gradient(180deg, rgba(100, 100, 163, 0.8), rgba(168, 197, 206, 0.9));
}

.card-content {
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0);
    transition: 250ms ease-out;
}

.card-content-hover:hover {
    color: rgb(250, 246, 143);
    border: 1px solid white;
    transition: 250ms ease-in;
}

.item-detail-card, .item-detail-content {
    background: linear-gradient(180deg, rgba(78, 78, 159, 0.7), rgba(144, 188, 203, 0.85));
}

tbody tr th label {
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
}

td #id_name {
    border-bottom: 1px solid rgb(0, 0, 0);
}

td #id_description {
    border: 1px solid black;
}

td #id_quantity, td #id_min_bid {
    background: white;
    border-radius: 20%;
    border: 1px solid black;
}

td #id_quantity:focus, td #id_min_bid:focus {
    border: 1px solid #003cff;
}

.home-container {
    background: linear-gradient(180deg, rgba(78, 78, 159, 0.7), rgba(144, 188, 203, 0.85));
    height: 86vh;
    margin: 5rem;
    padding: 0;
    margin: 0 auto;
    margin-top: 3rem;
    border-radius: 40% 10%;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.italic-text {
    font-style: italic;
    margin-top: -10px;
}

.home-link {
    color: rgb(166, 255, 245);
    animation: eyecatch 4s infinite;
    transition: 500ms ease-in-out;
}

.home-link:hover {
    animation: eyecatch-hover 4s infinite;
    transition: 500ms ease-in-out;
}

ul li, p span {
    color: black;
}

.purple-border {
    box-shadow: 5px 5px 5px rgba(115, 0, 255, 0.15);
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: .7rem 0 1rem 0;
}

p label {
    color: black;
    font-size: 1.5rem;
}

input[type=number]:not(.browser-default) {
    border: 1px solid #000000;
    background-color: rgb(190, 210, 249);
    width: 6.5%;
    height: 2.2rem;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 2px 2px 5px rgba(48, 0, 108, 0.16);
}

input[type=number]:not(.browser-default):focus {
    border: 1px solid blue;
}

.move-up-btn {
    transform: translate(0%, -35%);
}

.bid-section form p label {
    font-weight: bold;

}

.delete-btn {
    color: rgb(182, 0, 0);
    width: 90%;
}

.post-btn {
    width: 90%;
    text-align: center;
}

.update-btn {
    color: rgb(0, 0, 0);
    width: 90%;
}

.all-items {
    width: 300px;
    min-height: 300px;
    max-height: 300px;
    border-radius: 10%;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    transition: 1000ms;
}

.all-items:hover {
    transition: 1000ms;
    border-radius: 25%;
    border: 1px solid rgb(255, 225, 0);
}

.bid-table {
    background: linear-gradient(180deg, rgb(0 40 255 / 35%), rgb(255 255 255 / 35%))
}

.profile-pic {
    min-width: 200px;
    min-height: 250px;
    max-height: 250px;
    border-radius: 50%;
    border: 2px solid rgb(0, 255, 0);
}

.user-text{
    font-size: 2rem;
}

.online {
    color: #1dff00;
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
}

@keyframes eyecatch {
    0% {
        color: rgb(166, 255, 245);
        font-size: 2rem;
    }
    50% {
        color: rgb(250, 166, 255);
        font-size: 2.5rem;
    }
    100% {
        color: rgb(166, 255, 245);
        font-size: 2rem;
    }
}
@keyframes eyecatch-hover {
    0% {
        color: rgb(166, 255, 245);
        font-size: 2.5rem;
    }
    50% {
        color: rgb(166, 255, 245);
        font-size: 2.5rem;
    }
    100% {
        color: rgb(166, 255, 245);
        font-size: 2.5rem;
    }
}

.about-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: teal;
    background-color: white;
    line-height: 50px;
    height: 50px;
    font-size: 50;
}